.login-button{
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , #000,20,0.1,0,0);

}
.login-button:hover{
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-font-size: 16;
    -fx-text-fill:white ;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , black,30,0.1,0,0);

}


.text-field-login{
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15;

}